<%- include("templates/cabecera",{titulo:'Buscar un libro'}) %>
    <div class="container">
        <h1>Detalle de un Zapato</h1>
        <% if (error) { %>
            <p>
                <%= mensaje %>
            </p>
            <a href="/zapatos" class="btn btn-block btn-dark">Volver al listado de zapatos</a>
            <% } %>
                <% if (!error) { %>
                    <form id="formularioEditar">
                        <input placeholder="Ingresa el ID" type="text" class="form-control my-2" name="id"
                            value="<%= zapato._id %>" id="idInput">
                        <input placeholder="Ingresa la marca del Zapato" type="text" class="form-control my-2"
                            name="marca" value="<%= zapato.marca %>" id="marcaInput">
                        <input placeholder="Ingresa el numero de Zapato" type="text" class="form-control my-2"
                            name="numZapato" value="<%= zapato.numeroZapato %>" id="numZapatoInput">
                        <input placeholder="Ingresa el precio" type="text" class="form-control my-2" name="precio"
                            value="<%= zapato.precio %>" id="precioInput">
                        <input placeholder="Ingresa el material del zapato" type="text" class="form-control my-2"
                            name="material" value="<%= zapato.material %>" id="materialInput">
                        <button class="btn btn-warning btn-block" type="submit">Editar</button>
                        <hr>
                        <button class="btn btn-danger btn-sm mt-3 btn-block" id="btnEliminar"
                            data-id="<%= zapato._id %>">Eliminar</button>
                    </form>

                    <% } %>
    </div>
    <%- include("templates/footer") %>

        <script>
            const btnEliminar = document.querySelector('#btnEliminar')
            btnEliminar.addEventListener('click', async () => {
                console.log('El boton de eliminar está funcionando');
                const id = btnEliminar.dataset.id
                console.log('id', id)
                try {
                    const data = await fetch(`/zapatos/${id}`, {
                        method: 'delete'
                    })
                    const res = await data.json()
                    console.log(res)
                    if (res.estado) {
                        window.location.href = '/zapatos'
                    }

                } catch (error) {
                    console.log(error)
                }
            })
            const formularioEditar = document.querySelector('#formularioEditar');
            formularioEditar.addEventListener('submit', async (e) => {
                e.preventDefault()
                console.log('Actualizado')

                /* Segunda forma de capturar los datos del formulario */
                const _id = document.querySelector('#idInput').value
                const marca = document.querySelector('#marcaInput').value
                const numeroZapato = document.querySelector('#numZapatoInput').value
                const precio = document.querySelector('#precioInput').value
                const material = document.querySelector('#materialInput').value


                const id = formularioEditar.dataset.id
                try {
                    const data = await fetch(`/zapatos/${_id}`, {
                        method: 'put',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        
                        body: JSON.stringify({ marca, numeroZapato, precio, material })
                    })
                    const res = await data.json()
                    console.log(res)
                    if (res.estado) {
                        window.location.href='/zapatos'
                    } else {
                        console.log(res)
                    }
                } catch (error) {
                    console.log(error)
                }
            })
        </script>