<%- include("templates/cabecera",{titulo:'Pagina de Inicio'}) %>
    <div class="container">
        <h1>CRUD de Libros con Mongo y Express</h1>
        <a href="/libros/insertar" class="btn btn-success btn-block my-4">Ingresar Nuevo Libro</a>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ISBN</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Año</th>
                        <th scope="col">Editorial</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (arrayLibros.length> 0) { %>
                        <% arrayLibros.forEach(libro=> { %>
                            <tr class="">
                                <td scope="row"><%= libro.isbn %></td>
                                <td><%= libro.titulo %></td>
                                <td><%= libro.autor %></td>
                                <td><%= libro.anio %></td>
                                <td><%= libro.editorial %></td>
                                <td>
                                    <!-- usar libro._id si pasamos el object id -->
                                    <a href="/libros/<%= libro.isbn %>" class="btn btn-warning btn-sm">editar</a>
                                </td>
                            </tr>
                        <% }) %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <%- include("templates/footer") %>